 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/48fbc1cf9f702ddded2647219524e5454cdc628dc81fa81459711f49ae2050e025c82c9609abea80358f33733b4304cde4b92f174575d64fc1dd57_1280.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 761px;
}

.u-section-1 .u-image-1 {
  width: 784px;
  height: 334px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  width: 615px;
  margin: -7px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-1 .u-image-1 {
    height: 335px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 308px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 231px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 145px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 224px;
}

.u-section-2 .u-list-1 {
  margin-top: -95px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 12.75px));
  min-height: 319px;
  grid-gap: 17px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-icon-1 {
  height: 148px;
  width: 148px;
  color: rgb(255, 255, 255) !important;
  margin: 45px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: linear-gradient(#858e99, #292e33);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-icon-2 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-icon-3 {
  height: 148px;
  width: 148px;
  color: rgb(255, 255, 255) !important;
  margin: 45px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: linear-gradient(#858e99, #292e33);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-icon-4 {
  height: 148px;
  width: 148px;
  color: rgb(255, 255, 255) !important;
  margin: 45px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 182px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 263px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8.5px));
    min-height: 604px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 8.5px) calc(50% - 8.5px);
    grid-gap: 17px 17px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 531px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  font-weight: 400;
  font-family: Lato, sans-serif;
  margin: 20px 97px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 60px;
  padding: 9px 31px 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    width: 880px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 762px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 70px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 551px;
  background-image: linear-gradient(#858e99, #292d33);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  letter-spacing: normal;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 247px;
  height: 247px;
  object-position: 100% 0%;
  background-image: url("images/99d4765376f7437b69d81591d47333ca16688c1bb73339d1246c38e8d47f60dd04f7ca089ba00a666d0ab02ff92828aba2fbcec88d14ae5589c6c5_1280.jpg");
  background-position: 50% 50%;
  margin: 50px auto 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 399px;
  background-image: url("images/de423326f9a8e41faeb0925ae06ad27674883a74726eeb25b3736a0b971a384342564538bdf283f947bbaf795d6ca196525e674fbebc81ca7bfa3e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 399px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 48px auto 0 0;
}

.u-section-4 .u-text-3 {
  text-align: left;
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none;
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 26px auto 0 26px;
  padding: 9px 31px 10px 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 345px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 40px;
}

.u-section-4 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

.u-section-4 .u-text-5 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-image-3 {
  min-height: 345px;
  background-image: url("images/7c377505f496e97db1e7d9f560273d87c72f9db7d43b1bd21c7ee00db93de37984f218cce22567e09af58878e1bda426f2a7465c47090c1afd15e7_1280.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 605px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-size: 2.5rem;
  background-image: none;
  line-height: 1.4;
  letter-spacing: normal;
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-4 .u-image-4 {
  width: 247px;
  height: 247px;
  object-position: 100% 0%;
  background-image: url("images/a0579cfc2711aba4949e8e777d60858f85e0909c5792bd361c230d6e974b016f372ddf666ba9ec1c368085668ad76542f45381570d67487a31146f_1280.jpg");
  background-position: 50% 50%;
  margin: 26px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-4 .u-image-2 {
    min-height: 329px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 329px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.625rem;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 284px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 284px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 499px;
  }

  .u-section-4 .u-text-6 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    min-height: 504px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-3 {
    min-height: 435px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1577px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-2 {
    min-height: 756px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-3 {
    min-height: 653px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-4 .u-image-2 {
    min-height: 476px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 289px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-4 .u-image-3 {
    min-height: 411px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.875rem;
  }
} .u-section-5 {
  background-image: linear-gradient(#555c66, #292d33);
}

.u-section-5 .u-sheet-1 {
  min-height: 871px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 761px;
}

.u-section-5 .u-container-layout-1 {
  padding-bottom: 60px;
  padding-top: 60px;
}

.u-section-5 .u-image-1 {
  height: 611px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-2 {
  min-height: 403px;
  background-image: url("images/e89137dd9016d5b0aaea9c5377f9bb0d55cde631900f57cd8ab4cb838e3bbd4cf12158f44d790c6c63ccf2899db7ad5c4aa3e8cd35e3ef32feeb38_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 403px;
}

.u-section-5 .u-container-layout-3 {
  padding-right: 60px;
  padding-top: 100px;
}

.u-section-5 .u-image-3 {
  height: 273px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-4 {
  min-height: 358px;
  background-image: url("images/966ee48f5e3a98bca7ef7d8bfbf1195eb3aea18a1d50202b476abc77938fc144e7b978d44d28dca9042748c892feea75381152832cc6711927fa7d_1280.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px;
}

.u-section-5 .u-group-1 {
  width: 510px;
  min-height: 360px;
  margin: -502px auto 202px;
}

.u-section-5 .u-container-layout-5 {
  padding: 25px 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 17px 0 0;
}

.u-section-5 .u-text-2 {
  letter-spacing: 1px;
  text-transform: none;
  margin: 34px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-align: center;
  background-image: none;
  border-style: none;
  margin: 34px auto 0;
  padding: 10px 38px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 627px;
  }

  .u-section-5 .u-image-1 {
    height: 504px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    min-height: 332px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 332px;
  }

  .u-section-5 .u-image-3 {
    height: 212px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-4 {
    min-height: 295px;
  }

  .u-section-5 .u-group-1 {
    width: 404px;
    min-height: 327px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 386px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    min-height: 254px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 254px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 30px;
    padding-top: 30px;
  }

  .u-section-5 .u-image-3 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-4 {
    min-height: 226px;
  }

  .u-section-5 .u-group-1 {
    width: 381px;
    min-height: 311px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2846px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 720px;
  }

  .u-section-5 .u-image-1 {
    height: 579px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    min-height: 762px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 518px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-3 {
    height: 643px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-4 {
    min-height: 339px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-1 {
    width: 437px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1904px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 178px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 18px 0 0;
  }

  .u-section-5 .u-image-1 {
    height: 365px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    min-height: 480px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 326px;
  }

  .u-section-5 .u-image-3 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-4 {
    min-height: 213px;
  }

  .u-section-5 .u-group-1 {
    width: 298px;
    min-height: 318px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 617px;
}

.u-section-6 .u-text-1 {
  line-height: 57.6px;
  font-weight: 400;
  margin: 60px 86px 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 310px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: url("https://pixabay.com/get/gf6a6658a7c2e0fd2af173c881fd786d798917938bb1760609f3eff064fc3a2ac95871eb66014c26bfeef55fa70b59a367b0bb56e22901c2cbbb2dc548a9cfef9_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 305px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: url("images/0106e0294cdeb0c1811d9ad832567d6f1606514ea38af1fe6fef1704964c8c5022d0dcb37bbaf131d138aaf5e1164744bd952fa1aedc262c7dfc1d_12801.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 305px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 305px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: url("images/c580613d8db487948805151e9f60ca5bd933ade967a032615465009b8c8e7e06a38f275f51b008c549ab0889b83050f1cc88110c345f09d3405452_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-text-3 {
  text-align: left;
  font-weight: 600;
  margin: 36px auto 60px;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-6 .u-image-1 {
    width: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 251px;
  }

  .u-section-6 .u-image-2 {
    width: auto;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 251px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 251px;
  }

  .u-section-6 .u-image-3 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 196px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 192px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 192px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2047px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 588px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 576px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1403px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 370px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 363px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 566px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 464px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 55px 181px 0 30px;
}

.u-section-7 .u-text-2 {
  text-transform: none;
  margin: 14px 30px 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.5rem;
  line-height: 1.8;
  margin: 51px 0 0 60px;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 26px;
  min-height: 16px;
  width: 162px;
  min-width: 124px;
  margin: -3px auto 0 30px;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 446px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-7 .u-form-1 {
  height: 347px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-7 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-7 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-7 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 383px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 111px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-7 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 1px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-right: 0;
  }
}